.tt-action-sheet > .tt-action-sheet-wrap{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 640px;
	background: #eee;
	transition: transform .3s ease;
	transform: translateY(100%);
	z-index: 301;
}
.tt-action-sheet.show .tt-action-sheet-wrap{
	transform: translateY(0);
}
.tt-action-sheet > .tt-mask{
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s ease;
}
.tt-action-sheet.show > .tt-mask{
	opacity: 1;
	pointer-events: auto;
}
.tt-action-sheet .tt-action-sheet-header{
	padding: 0 2rem;
	display: flex;
	align-items: center;
	text-align: center;
	height: 3rem;
	background: #fff;
}
.tt-action-sheet .tt-action-sheet-header > .tt-action-sheet-title{
	flex: 1;
	font-size: .7rem;
	line-height: 1rem;
	font-weight: normal;
	color: rgba(0, 0, 0, .3);
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.tt-action-sheet .tt-action-sheet-body{
	border-top: 1px solid rgba(0, 0, 0, .1);
	background: #fff;
}
.tt-action-sheet .tt-action-sheet-footer{
	margin-top: .3rem;
	background: #fff;
}
.tt-action-sheet .tt-action-sheet-menu{
	display: block;
	height: 2.8rem;
	line-height: 2.8rem;
	font-size: .8rem;
	text-align: center;
}
.tt-action-sheet .tt-action-sheet-menu + .tt-action-sheet-menu{
	display: block;
	border-top: 1px solid rgba(0, 0, 0, .1);
}
